LISTEN_ADDR=<...>
MISTRAL_API_KEY=<...>
MISTRAL_BASE_URL=<...>
MISTRAL_LLM_MODEL=<...>
MISTRAL_OCR_MODEL=<...>
DATA_DIR=<...>
WORKER_COUNT=<...>
MAX_PAGES_PER_NODE=<...>
MAX_TOKENS_PER_NODE=<...>
MAX_RETRIEVAL_ITERATIONS=<...>
